{% extends "base.html" %}
{% block content %}

<h2>Week {{lesson.week}}, Day {{lesson.day}} - {{lesson.title}}</h2>
<br>
<p><h3>Slides</h3>
<ul>
{% if lesson.prezi1 %}<li>{{lesson.prezi1_title}}: <a href="{{lesson.prezi1}}"> View and comment</a></li>{% else %}<li>None for this lesson</li>{% endif %}
{% if lesson.prezi2 %}<li>{{lesson.prezi2_title}}: <a href="{{lesson.prezi2}}">View and comment</a></li>{% endif %}
{% if lesson.prezi3 %}<li>{{lesson.prezi3_title}}: <a href="{{lesson.prezi3}}">View and comment</a> </li>{% endif %}
</ul></p>

<br>
<p><h3>Supplemental documents</h3>
<ul>
{% if lesson.supplemental1 %}<li><a href="{{lesson.supplemental1}}">{{lesson.supplemental1_title}}</a></li>{% else %}<li>None for this lesson</li>{% endif %}
{% if lesson.supplemental2 %}<li><a href="{{lesson.supplemental2}}">{{lesson.supplemental1_title}}</a></li>{% endif %}
{% if lesson.supplemental3 %}<li><a href="{{lesson.supplemental3}}">{{lesson.supplemental1_title}}</a></li>{% endif %}
</ul></p>


<br>
<p><h3>External links for more reading and practice</h3>
<ul>
{% if lesson.supplemental1 %}<li><a href="{{lesson.external_link1}}">More reading</a></li>{% else %}<li>None for this lesson</li>{% endif %}
{% if lesson.supplemental2 %}<li><a href="{{lesson.external_link2}}">More reading </a></li>{% endif %}
{% if lesson.supplemental3 %}<li><a href="{{lesson.external_link3}}">Even more reading </a></li>{% endif %}
</ul></p>

{% endblock %}